<!DOCTYPE html>
<html>
	<head>
	    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />	
	</head>
	<body>
	  <h1>Welcome to the Sample App, homie (<%= @user.name %>)</h1>
	  <p>
	    You have successfully signed up to example.com
	    with the email: <%= @user.email %>.<br/>
	  </p>
	  <p>
	    To login to the site, just follow this link: <%= @url %>.
	  </p>
	  <p>
	    Really, though, let's focus on what's important.  Who can send emails
		from a rails app now?  This guy.
	  </p>
	</body>
</html>