<!DOCTYPE html>
<html>
	<head>
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>Necessary?</title>
	</head>
	<body>
	  <h1>Who can send emails from a rails app now? This guy can.</h1>
	  <p>
	    It took a bit of grinding, but as a result, I better understand
	 	heroku, heroku logs, setting up a sendgrid profile,
		rails environments, rails configurations, etc.<br />
	  </p>
	  <p>
		Being able to test w/ rspec is still a work in progress as my test is failing when I check 
		the deliveries array. I tried setting the delivery_method to :test and 
		:sendmail, etc.  Puts'ing the array from the mailer method in the controller
		confirms it's empty, too.<br/>
	  </p>
	  <p>
		And just for fun, here's the email you signed up with: <%= @user.email %>.<br/>
	  </p>
	  <p>
	    What should I focus on next, John?  Obviously, the styling needs some work, 
		but I assume there's going to be other intricacies to handle for a real
		production site.
	  </p>
	</body>
</html>

